# ASSIGNMENT 1

Basic python syntax
Python variable
Python operator

In [1]:
print("welcome")

welcome

In [8]:
print("i am komal  ,\
  From pune")

i am komal  ,  From pune

In [13]:
"""
triple qoutes
"""

print(""" .__           .__  .__          
|  |__   ____ |  | |  |   ____  
|  |  \_/ __ \|  | |  |  /  _ \ 
|   Y  \  ___/|  |_|  |_(  <_> )
|___|  /\___  >____/____/\____/ 
     \/     \/                   """)

 .__           .__  .__
|  |__   ____ |  | |  |   ____
|  |  \_/ __ \|  | |  |  /  _ \
|   Y  \  ___/|  |_|  |_(  <_> )
|___|  /\___  >____/____/\____/
     \/     \/

In [19]:
print('happy parent\'s day')

happy parent's day

In [16]:
# use of \t and \n
print("hii\teveryone")
print("\n")
print("hii\neveryone")

hii	everyone


hii
everyone

In [4]:
# multiple statements in one sentence

name ="komal"
age = 20
marks = 78.90

print("my name is",name,". my age is",age,". And marks is",marks)
print("\n")
print("my name is %s . my age is %d . And marks is %f"%(name,age,marks))
print("\n")
print(f"my name is {name}. my age is {age}. And marks is {marks}")

my name is komal . my age is 20 . And marks is 78.9


my name is komal . my age is 20 . And marks is 78.900000


my name is komal. my age is 20. And marks is 78.9

# Arithmetic operators

In [6]:
5**3

5.0

In [7]:
12+78

90

In [8]:
56-4

52

In [11]:
15/3

5.0

In [12]:
15//3

5

# comparision operator

In [16]:
a=10
b=50
a == b

False

In [23]:
a >= b

False

In [24]:
a <= b

True

In [25]:
a != b

True

# Bitwise operator

In [ ]:
| , & , ~ , ^ , << , >>

# Logical operator

In [ ]:
AND , OR , NOT

# Membership in operators

In [22]:
str1 = "computer"
"o" in str1

True

In [21]:
str1 = "computer"
"a" in str1

False

In [26]:
str1 = "computer"
"a" not in str1

True